/*** **	Ossus.ch **/
html, body { width: 100%; height: 100%; min-height: 800px; margin: 0; padding: 0; font: normal 1em Helvetica-neue, sans-serif; color: black; background-color: white; background-color: white; background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, white), color-stop(50%, white), color-stop(80%, #f0f0f0), color-stop(100%, #c8c8c8)); background-image: -webkit-radial-gradient(50% 50%, ellipse cover, white, white 50%, #f0f0f0 80%, #c8c8c8); background-image: -moz-radial-gradient(50% 50%, ellipse cover, white, white 50%, #f0f0f0 80%, #c8c8c8); background-image: -ms-radial-gradient(50% 50%, ellipse cover, white, white 50%, #f0f0f0 80%, #c8c8c8); background-image: -o-radial-gradient(50% 50%, ellipse cover, white, white 50%, #f0f0f0 80%, #c8c8c8); background-image: radial-gradient(50% 50%, ellipse cover, white, white 50%, #f0f0f0 80%, #c8c8c8); }

a { text-decoration: none; }

/** Layout */
#full { position: relative; height: 100%; background: url(../images/Ossus-1200.png) center center no-repeat; background-size: 300px; -webkit-transition: background-size 1s; -moz-transition: background-size 1s; -ms-transition: background-size 1s; -o-transition: background-size 1s; transition: background-size 1s; -webkit-tap-highlight-color: transparent; }

#container { padding: 4em; }

#circus { position: absolute; top: 50%; left: 50%; width: 600px; height: 600px; margin: -300px -300px; padding: 0; opacity: 0; cursor: pointer; text-align: center; -webkit-transition: opacity, 1s; -moz-transition: opacity, 1s; -ms-transition: opacity, 1s; -o-transition: opacity, 1s; transition: opacity, 1s; }
#circus.shown { opacity: 1; cursor: default; }
#circus.shown .item:hover div { display: block; }
#circus .item { display: none; position: absolute; width: 120px; height: 80px; list-style-type: none; text-align: center; }
#circus .item > a { color: black; text-decoration: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#circus .item > a:hover { text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8); }
#circus .item > a img { width: 50px; height: 50px; border-radius: 8px; }
#circus .item > a span { display: block; line-height: 2.0; }
#circus .item div { display: none; width: 240px; margin-left: -80px; padding: 10px 20px 15px; color: white; text-shadow: 0 -1px 0 black; font-family: "Palatino Linotype", Palatino, "Book Antiqua", Palatino, serif; text-align: left; line-height: 1.4; background: url(../images/crossed_stripes.png) top left repeat rgba(0, 0, 0, 0.5); border: 1px solid rgba(0, 0, 0, 0.8); border-radius: 5px; box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.6), inset 0 1px 3px black; }
#circus .item div h2 { font-size: 1.5em; margin: 0 0 0.5em; padding: 0; text-align: center; }
#circus .item div a { color: #76c440; }
#circus .item div a:hover { text-shadow: 0 0 4px #76c440; }

#circus-logo { position: absolute; top: 253px; left: 150px; width: 300px; height: 94px; }
